@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-repeat: none;
    background-image: url('img/17Agustus2022.jpg');
    background-position: center center;
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: white;
    z-index: 0;
    right: 0;
    bottom: 0;
    position: fixed;

}

h1
{
    font-size: 2rem;
    margin: 2rem;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}

.countdown-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:2rem;
    color: white;
    text-shadow: 2px 2px black;
    
}

.big-text {
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.count-down {
    text-align: center;
}

.count-down span{
    font-size: 1.3rem;
}

audio{
    height: 2rem; 
    width: 50rem;
    position: relative;
    margin-top: 5rem;
    margin-bottom: auto;
}